#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  background-image: linear-gradient(to top,
   #37ecba 0%, #72afd3 100%);
}

.main_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: 
  radial-gradient(circle 248px at center,
   #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  width: 50%;
  border-radius: 20px;
  margin-top: 5rem;
  padding: 2rem;
}

.titel{
  font-size: 3rem;
  font-family: serif;
}
.textInputWithAddBtn{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}

.userInputHolder{
  width: 78%;
  height: 2.7rem;
  background-color: #fff;
  color: black;
  border: none;
  padding:  0 1rem;
  font-size: 1.5rem;
  border-radius: 10px 0 0 10px;
}

.addBtn{
  background-color: #93ed39;
  color: rgb(6, 15, 21);
  font-weight: bold;
  font-size: 2rem;
  padding: 0.2rem 1.5rem; 
  border-radius: 0 10px 10px 0;
}

.todoLists{
  width: 70%;
  max-height: 300px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-radius: 10px;
  /* padding: 0.02rem 0.5rem; */
  overflow-y: scroll;
}
.todoLists::-webkit-scrollbar {
  display: none;
}
.todoItem{
  color: black;
  font-size: 2rem;
  font-family: font-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  border-radius: 10px;
  padding: 0rem 0.2rem;
  border: 1px solid rgb(46, 112, 203);
  
}
.checkBoxBtn{
  height: 20px;
  width: 20px;
  color: #57d690;
}

.chancelAndEditBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.editBtn{
  height: 35px;
  width: 50px;
  background-color: #3fd55b;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
}
.cancelBtn{
  height: 35px;
  width: 50px;
  background-color: #e42323;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
}